@font-face {
    /* https://www.dafont.com/jsl-blackletter.font?fpp=200&l[]=10&l[]=1 */
    font-family: 'JSL BLackletter';
    src: url('/assets/fonts/JBLACK.ttf');
}

.root {
    -fx-background-size: cover;
    -fx-font-family: 'JSL BLackletter';
    -fx-font-size: 18;
}

BorderPane {
    -fx-padding: 10;
}

VBox {
    -fx-border-color: red;
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: CENTER;
}

HBox {
    -fx-border-color: blue;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-padding: 10;
}

FlowPane {
    -fx-border-color: Green;
    -fx-alignment: CENTER;
    -fx-orientation: VERTICAL;
}

TextField {
    -fx-alignment: CENTER;
    -fx-pref-column-count: 5;
}

.tooltip {
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 14;
}

.start-menu-root {
    /*-fx-border-color: GREEN;*/
    -fx-background-image: url('/assets/images/blank-marquee-transparent-viewport.png');
    -fx-background-size: stretch;
    -fx-padding: 100, 100, 100, 100;
}

.game-view-root {
    -fx-border-color: YELLOW;
    -fx-alignment: CENTER;
    -fx-pref-width: 500;
    -fx-pref-height: 500;
}

.header {
    -fx-font-size: 32;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
}

.button {
    -fx-text-fill: WHITE;
    -fx-alignment: CENTER ;
    -fx-text-alignment: CENTER;
    -fx-background-color: BLACK;
    -fx-pref-width: 150;
}

.small-button {
    -fx-pref-width: 50;
}

.button:hover {
    -fx-background-color: GRAY;
    -fx-text-fill: BLACK;
}

.button:pressed {
    -fx-background-color: #d5c597;
    -fx-text-fill: BLACK;
}

.crafting-view-bordered {
    -fx-border-color: BLACK;
    -fx-border-width: 2;
    -fx-background-color: LIGHTGREEN;
}

