@font-face {
    /* https://www.dafont.com/jsl-blackletter.font?fpp=200&l[]=10&l[]=1 */
    font-family: 'JSL BLackletter';
    src: url('/assets/fonts/JBLACK.ttf');
}

.root {
    /*-fx-border-color: RED;*/
    /*-fx-background-image: url('/assets/images/four-humours-background.png');*/
    -fx-background-size: cover;
    -fx-font-family: 'JSL BLackletter';
    /*-fx-font-family: 'LudovicoWoodcut';*/
}

.start-menu-root {
    /*-fx-border-color: GREEN;*/
    -fx-background-image: url('/assets/images/blank-marquee-transparent-viewport.png');
    -fx-background-size: cover;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.game-view-root {
    -fx-border-color: YELLOW;
    -fx-alignment: CENTER;
}

.header {
    -fx-font-size: 64;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
}

.button {
    -fx-font-size: 36;
    -fx-text-fill: WHITE;
    -fx-alignment: top-right ;
    -fx-text-alignment: right;
    -fx-background-color: BLACK;
}

.button:hover {
    -fx-background-color: GRAY;
    -fx-text-fill: BLACK;
}

.button:pressed {
    -fx-background-color: #d5c597;
    -fx-text-fill: BLACK;
}